/* login */
body.login-page {
	background-color: white !important;
	background-image: url("/image/masjid-mdh.jpg");
	background-size: cover;
    background-position: center;
}
.login-box {
	min-width: 40% !important;
	opacity: 0.95;
}
.login-card-body {
	border-radius: 10px;
}
.link-bawah {
	font-size: 1em;
}
.link-bawah a {
	color: #666;
}
.link-bawah a:hover {
	color: black;
}